@font-face {
    font-family: 'FontAwesome';
    src: url('font-awesome/fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
    src: local('☺'), url('font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font-awesome/fonts/fontawesome-webfont.woff') format('woff'), /* Modern Browsers */
    url('font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('font-awesome/fonts/fontawesome-webfont.svg') format('svg'); /* Legacy iOS */
}

body {
    font: 14px 'Segoe UI', sans-serif;
    color: #101010;
}

span {
}

h1, h2, h3, h4 {
    margin: 0;
}

/* Gradient color1 - color2 - color1 */

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#wrapper {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -999;
    background: url('../assets/background.jpg') repeat;

}

#content {
    display: table-cell;
    /*vertical-align: middle;*/
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#instructions {
    font-weight: bold;
    padding-top: 10px;
}

#questions {
    vertical-align: middle;
    margin: 0 auto;
    text-align: justify;
    width: 50%;
    height: 100%;
}

#cannyvas {
    background: white;
    padding: 30px 30px 30px 30px;
    border: 1px black dashed;
}

    #cannyvas canvas {
        cursor: default !important;
    }

.form-float {
    z-index: 2147483647;
    font: 14px 'Segoe UI', sans-serif;
    /*right: 370px;
    top: 178px;*/
    width: 100%;
    height: 150px;
    table-layout: fixed;
    display: none;
}

    .form-float .row {
        margin-right: 0px;
        margin-left: 0px;
    }

        .form-float .row .col-md-4 {
            padding-right: 0px;
        }

.box {
    position: absolute;
    width: 100px;
}
